body{
    font-family: "Montserrat";
}
#title
 {
    background-color: #ff4c68;

}

.navbar {
    padding: 0 0 4.5rem; 
}

/*buttons*/
.btn {
    margin-right: 1rem;
    margin-top: 1.5rem;
}

.fa-brands{
    margin-right: 0.5rem;
}

.container-fluid{
    padding: 3% 15%;
}

.titledog-img
{
    width: 60%;
    transform:rotate(25deg);
    


}


h1 {
    font-family: "Montserrat";
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

/*Second section*/

.fa-4x{
    color: #cf8172;
    padding-bottom: 1rem;
}

/*collumns second section*/
.collumncheck{
    text-align: center;
    padding-right: 10%;
    padding-top: 10%;
}

.collumnbulls{
    text-align: center;
    padding-top: 10%;
}

.collumnheart{
    text-align: center;
    padding-left: 10%;
    padding-top: 10%;
}

/*text Second section*/
.features-h3{
    font-family: "montserrat";
    font-size: 1.5rem;
}
.features-p{
    font-family: "montserrat";
    font-size: 1rem;
    color: #8f8f8f;
}

/*icons*/
.fa-circle-check{
    margin: auto;
    
}
.fa-bullseye{
    margin: auto;
}
.fa-heart{
    margin: auto;
}

.fa-4x:hover{
    color:#ff4c68;
}

/*testimonials section*/

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}